# Ignore all env files
.env
.env.*
**/.env
**/.env.*

# But allow env example files
!.env.example
!**/.env.example

# Node modules
node_modules/
**/node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / build
.DS_Store
dist/
build/
coverage/

# next.js
/.next/
/out/
.next/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*